.view-in-vr {
    display: none !important;
}

#nhr .icon-share {
    display: none !important;
}

#nhr #footer #footer-terms span.icon-matterport-brand img[alt='Matterport'] {
    display: none !important;
}
