.view-in-vr {
    display: none !important;
}

#nhr .icon-share {
    display: none !important;
}

#nhr #footer-terms span.link, #nhr #footer-terms span.link {
    display: none !important;
}
